---
const { label = "Button", href = "#", variant = "solid" } = Astro.props;

const baseClasses =
  "px-6 py-3 rounded-full font-semibold text-lg transition-all duration-300";

var specialClasses = ""

if (variant == 'solid') {
    specialClasses = "border-2 border-purple-600 bg-purple-600 text-white hover:bg-white hover:text-purple-600 shadow-lg"
} else {
    specialClasses = "border-2 border-purple-600 bg-white/90 text-purple-600 hover:bg-purple-500 hover:text-white shadow-lg";
}

const classes = `${baseClasses} ${specialClasses}`;
---

<a href={href} class={classes}>
  {label}
</a>
